git+https://github.com/QuantuMobileSoftware/sentinel2tools.git@bca7ff06c72411a4ada3886131f1b030cbd94e0b
tqdm==4.51.0
Shapely==1.8.4
geojson==2.5.0
geopandas==0.8.1
pandas==1.1.3
rasterio==1.1.8
opencv-python==4.4.0.46